svg {
  width: 90%;
  float: left;
  margin-right: 2%;

  outline: 3px rgba(255,255,255,.3) dashed;
}

#newGraphicnumber {
  font-family: Helvetica Neue;
  font-weight: 700;
  font-size: 20em;
  opacity: .15;
  fill: #fff;
  transform: skew(-10deg); }

#focalpoint {
  fill: rbga(140, 45, 100, 0.5); }

.frame {
  transform: rotate(90deg);
  transform-origin: 50% 50%;
  fill-opacity: .7; }

.focalpoint {
  transform-origin: 50% 50% 0px; }

.swatch {
  height: 10;
  width: 10; }

.rotate-1 {
  transform-origin: 50% 50%;
  transform: rotate(1turn); }

.patternA {
  /*fill: url(#pattern-2-0);*/
  fill: url(#g);
  mix-blend-mode: multiply;
  patternTransform: scale(.1);
  fill-opacity: .3; }

.patternB {
  fill: url(#pattern-5-1);
  mix-blend-mode: multiply;
  fill-opacity: .2; }

.paper {
  fill: url(#pattern-paper);
  mix-blend-mode: multiply;
  fill-opacity: 1;
  width: 1000px;
  height: 610px;
}
g {
  isolation: isolate;
}

table {
    width: 60%;

}
td{
   outline: 1px #ccc solid;
    height: 2em;
}
svg text{
 font-family: Georgia;
  font-size: 4px;
}
