table
    thead
        tr
            th Color Palette
            th Layout Scheme
            th Number scheme
            th Routine
            th Pattern
    tbody
        tr
            td Golden Ratio
            td 1
            td Filmstrip-H
            td Tronbikes
            td Dots
        tr
            td Triad
            td 2
            td Filmstrip-V
            td Curves
            td Stripes
        tr
            td Monotone
            td 3
            td Depth
            td Curves
            td Crosshatch